/* 
    Document   : yargo
    Created on : Feb 17, 2011, 8:07:28 PM
    Author     : hipska
    Description: Purpose of the stylesheet follows.
*/

#world > div {
	position: absolute;
	left: -512px;
}

#world div.sprite {
	z-index: 50;
	width: 32px;
	height: 32px;
	-webkit-transition: top 2s linear, left 2s linear;
	-moz-transition: top 2s linear, left 2s linear;
}
#world div.sprite.down{
	background-position: -32px;
}
#world div.sprite.up{
	background-position: -64px;
}
#world div.sprite.left{
	background-position: -96px;
}
#world div.sprite.right{
	background-position: -128px;
}

#world div.keepout {
	background-size: 8px 8px;
	background-image:
		-webkit-gradient(
			linear, 0 0, 100% 100%,
			color-stop(0.1, red), color-stop(0.1, transparent),
			color-stop(0.5, transparent), color-stop(0.5, red),
			color-stop(0.6, red), color-stop(0.6, transparent),
			to(transparent)),
		-webkit-gradient(
			linear, 100% 0, 0 100%,
			color-stop(0.4, transparent), color-stop(0.4, red),
			color-stop(0.5, red), color-stop(0.5, transparent),
			color-stop(0.9, transparent), color-stop(0.9, red),
			to(red));
	height: 100%;
	width: 100%;
}

#world div.nextPos{
	background-color: orange;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	margin: 8px;
	width: 16px;
	height: 16px;
	z-index: 30;
}

#target {
	background-image: url(../images/target.png);
	width: 9px;
	height: 9px;
	left: -10px;
	top: -10px;
	z-index: 30;
}